<!--
  Generated template for the AddQuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>New Question</ion-title>
    <ion-buttons   right   >
        <button ion-button icon-only (click)="close()">
            <ion-icon name="close-circle"></ion-icon>
        </button>
  
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #topicForm="ngForm"   (ngSubmit)="save()">
          
        <ion-list>
          <ion-item >
            <ion-label floating>Subject</ion-label> 
            <ion-input required  [(ngModel)]="discussion.subject" name="subject" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Recipients (Optional)</ion-label>
              <ion-select [(ngModel)]="discussion.accounts" multiple="true" name="accounts">

                <ion-option *ngFor="let recipient of options?.recipients" value="{{recipient.id}}">{{recipient.name}}</ion-option> 

              </ion-select>
            </ion-item>
          
              <ion-item>
                  <ion-label>Course (Optional)</ion-label>
                  <ion-select [(ngModel)]="discussion.session_id" name="session_id" >
    
                    <ion-option *ngFor="let course of options?.courses" value="{{course.id}}">{{course.name}}</ion-option> 
    
                  </ion-select>
                </ion-item>
              <ion-item >
            <ion-label floating>Question</ion-label>
            <ion-textarea required  autosize name="question" [(ngModel)]="discussion.question" ></ion-textarea> 
          </ion-item>
        </ion-list>
        </form>
</ion-content>

<ion-footer no-border  style="margin:0px; padding: 0px" >
 
    <ion-toolbar transparent style="margin:0px; padding: 0px">
      <button  [disabled]="!topicForm.form.valid"  (click)="save()"  ion-button full large text-uppercase  >Submit</button>
    </ion-toolbar>
  </ion-footer>