page-home {
    .blog{
        text-align:left;
    }
    
    ion-content {
        --ion-background-color: #fafafa;
    }
    
    
     ion-card{
        background-color: #ffffff; // black
    }
}
