<!--
  Generated template for the ForumTopicsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Topic: {{ post?.topic_title }}</ion-title>
    <ion-buttons   right   >
        <button ion-button icon-only (click)="reloadPosts(1)">
            <ion-icon name="refresh"></ion-icon>
        </button>
  
      </ion-buttons>
  </ion-navbar> 

</ion-header>



<ion-content padding>


    <ion-card *ngIf="!networkPresent">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                  <ion-col>
                   
                      <ion-icon name="wifi" style="font-size:30px"></ion-icon>
                     
                  </ion-col>
                  <ion-col size="10">Network unavailable! Please check your connection.</ion-col>
                  
                </ion-row>
              </ion-grid>
            
        </ion-card-content>
      </ion-card>
    
      <ion-card *ngIf="networkPresent && showRetry">
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col>
                     
                        <ion-icon name="wifi" style="font-size:30px"></ion-icon>
                       
                    </ion-col>
                    <ion-col size="8">Network Error. Please try again</ion-col>
                    <ion-col>
                      <button ion-button (click)="reloadPosts(1)"><ion-icon name="refresh"></ion-icon>
                      Try Again
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              
          </ion-card-content>
        </ion-card>
    
        <ion-spinner *ngIf="showLoading"></ion-spinner>
        <p  *ngIf="(!posts && !showLoading) || posts?.length==0" >There are no topics yet. Click the 'Add' button below to start a new topic</p>
    
        <ng-container *ngIf="posts && posts?.length>0">
  


            <ion-list   >
           
                <ion-list-header>
                  {{ post?.topic_title }}
                  </ion-list-header>
                <ion-item  *ngFor="let post of posts"  text-wrap >
                  
                  <div>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-2>
                              <ion-avatar>
                                  <img  useImg   *ngIf="post.owner.picture != ''"  src="{{ basePath+'/'+post.owner.picture }}" />
                                  <img *ngIf="post.owner.picture == ''"  width="100%"  src="assets/icon/user.png" />
                                
                                </ion-avatar>
                          </ion-col>
                          <ion-col>
                            <div>{{ post.owner.first_name }}</div>
                            <div><small>{{ post.post_created_on | makeint | date }}</small></div>
                          </ion-col>
                        </ion-row>
                    </ion-grid>
                  </div>

                    <p [innerHTML]="post.message"></p>
               
                    
                  </ion-item>
         
              </ion-list>
        
    
        </ng-container>
    
    
        <ion-infinite-scroll (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>

         

</ion-content>

<ion-footer>
  <ion-grid>
      <ion-row>
          <ion-col col-10>
              <ion-textarea placeholder="Type a message" required  autosize name="message" [(ngModel)]="message" ></ion-textarea> 
          </ion-col>
          <ion-col col-2>
            <button  [disabled]="!message"  (click)="send()" ion-button icon-only  round ><ion-icon name="send"></ion-icon></button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>